@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');







/* -----------------------------------------------------
--------------------------Global------------------------
----------------------------------------------------- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

a,
button,
input,
textarea {
    border: none;
    box-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
}

body {
    color: #232323;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}

body * {
    background-attachment: scroll;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 25px;
    margin: 0 auto;
    position: relative;
}

@media (max-width:768px) {
    .container {
        max-width: 1180px;
        padding: 0 15px;
    }
}

.flex-wrap {
    display: flex;
}

.wrap {
    display: flex;
    justify-content: center;
}

.invert {
    filter: invert(100%);
}

.rotate {
    transform: rotate(180deg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type=number] {
    -moz-appearance: textfield;
}











/* -----------------------------------------------------
------------------------Template------------------------
----------------------------------------------------- */
.btn {
    background: #41cbc7;
    padding: 15px 10px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    max-width: 100%;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
}

.btn.big {
    padding: 23px 10px;
}

.btn:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.simple-input {
    width: 100%;
    max-width: 100%;
    position: relative;
    margin-bottom: 15px;
}

input,
textarea {
    border: 1px solid #ccc;
    background-color: none;
    width: 100%;
    padding: 12px;
    background: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.01em;
    border-radius: 5px;
    color: #C6C1BA;
    font-family: 'Montserrat';
}

textarea {
    resize: none;
    height: 82px;
}

textarea:focus,
input:focus {
    border-color: none;
}

textarea::placeholder,
input::placeholder {
    opacity: .7;
    transition: .3s;
}

input:focus::placeholder,
textarea:focus::placeholder {
    opacity: 0;
}





.header{
    background: #333;
    padding: 15px 0;
    margin-bottom: 50px;
}

.header .flex-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 20px;
    font-weight: 700;
    color:#fff;
}

.nav{
    display: flex;
}

.nav li a{
    color:#fff;
}

.nav li + li{
    margin-left: 15px;
}

.nav li a:hover{
    text-decoration: underline;
}







.form-section .container{
    display: flex;
    justify-content: center;
}

.gen-form{
    max-width: 500px;
    width: 100%;
}

.form-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color:#41cbc7;
}

.my-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
    margin-right: 20px;
}

.file-input{
    display: flex;
    border:none;
    align-items: center;
}