doctype html   
html
    head
        title About
        link(rel="stylesheet", href="/style/style.css")
    body
        .wrapper
            .container
                include header
                h1.page-title About Page