.header
    .container
        .flex-wrap
            a.logo Generate Test

            ul.nav
                li 
                    a(href="/") Home 
                li 
                    a(href="/") About 
                li 
                    a(href="/") Contacts 