doctype html   
html
    head
        title Kaboo
        link(rel="stylesheet", href="/style/style.css")
    body
        .wrapper
            include header
            include form
        script(src="../scripts/script.js")
