doctype html   
html
    head
        title Kaboo
        link(rel="stylesheet", href="/style/style.css")
    body
        .wrapper
            .container
                include header
                h3.items-title Items
                include items